<!--
  ~ Copyright 2024 Benjamin Dittwald
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<div th:replace="~{fragments/head :: head (title='Cinemap Repository UI - ' + #{movies_list.meta.page.title})}"></div>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>


<div class="container">
    <div class="row mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a
                        class="link-primary link-underline-opacity-25 link-underline-opacity-100-hover" href="/"
                        th:text="#{breadcrumb.home}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="#{breadcrumb.movies}">Movies</li>
            </ol>
        </nav>

        <div class="row mt-5">
            <h1><span th:text="#{movies_list.heading.all_movies}"></span></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12 col-lg-9">
            <a class="link-primary link-underline-opacity-25 link-underline-opacity-100-hover"
               th:href="'/movies/form'"><i
                    class="bi bi-plus-square-fill"></i> <span
                    th:text="#{movies_list.link.text.add_movie}">Add Movie</span></a>
        </div>
        <form action="#" th:action="@{/movies}" th:object="${tmdbId}" class="col-sm-12 col-lg-3" method="post">
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="inputTmdbId" th:field="*{id}"
                       placeholder="TMDB id"
                       aria-describedby="create-movie-submit"
                       th:classappend="${#fields.hasErrors('id')} ? 'is-invalid' : ''">
                <button type="submit" class="btn btn-primary" id="create-movie-submit" data-bs-toggle="tooltip"
                        th:data-bs-title="#{movies_list.form.button.helper.add_movie_via_tmdbid}"><span
                        th:text="#{movies_list.form.button.label.add_movie_via_tmdbid}"></span></button>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">
                    Invalid
                </div>
            </div>
        </form>
        <hr class="mt-3"/>
    </div>

    <div class="row">
        <div class="d-flex align-items-start justify-content-start mt-5">
            <div th:if="${movies.isEmpty()}">
                <p class="fw-bolder fs-4"><i class="bi bi-emoji-tear-fill"></i> <span
                        th:text="#{movies_list.paragraph_no_movies}"></span></p>
            </div>
        </div>
        <div th:each="movie : ${movies}"
             class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gy-4 align-items-start text-center">
            <div class="card shadow bg-body-tertiary rounded h-100"
                 style="max-width: 18rem;">
                <div th:if="${movie.posterUrl != null}">
                    <img th:src="${movie.posterUrl}"
                         class="img-fluid rounded-top"
                         alt="Movie poster">
                </div>
                <div th:if="${movie.posterUrl == null}">
                    <img th:src="@{/images/movie_fallback_poster.jpg}"
                         class="img-fluid rounded-top"
                         alt="Movie poster">
                </div>
                <div class="card-body">
                    <h5 class="card-title"><span
                            th:text="*{!movie.title.isBlank()} ? *{movie.title} : #{movies_list.poster_card.fallback_text.title}"> Title </span>
                    </h5>
                    <p class="card-text"><small
                            class="text-body-secondary"><span
                            th:text="*{movie.releaseYear != null} ? *{movie.releaseYear} : #{movies_list.poster_card.fallback_text.release_year}"> Release Year </span></small>
                    </p>
                    <div th:if="${movie.tagline != null && !movie.tagline.isBlank()}">
                        <p class="card-text multi-line-truncate"><span
                                th:text="*{!movie.tagline.isBlank()} ? *{movie.tagline} : #{movies_list.poster_card.fallback_text.tagline}"> Tagline </span>
                        </p>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <div>
                        <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                           th:href="'/movies/form?movieUuid=' + ${movie.uuid}"><i class="bi bi-pencil-fill"
                                                                                  data-bs-toggle="tooltip"
                                                                                  th:data-bs-title="#{movies_list.link.helper.edit_movie}"></i></a>
                        <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                           th:href="'/movies/' + ${movie.uuid} + '/scenes'"><i
                                class="bi bi-collection-play-fill" data-bs-toggle="tooltip"
                                th:data-bs-title="#{movies_list.link.helper.scenes}"></i></a>
                        <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                           data-bs-toggle="modal" data-bs-target="#confirmDeleteModel"
                           href="#"><i class="bi bi-trash3-fill" data-bs-toggle="tooltip"
                                       th:data-bs-title="#{movies_list.link.helper.delete_movie}"></i></a>
                        <form method="post" action="#" th:action="@{/movies/delete/{uuid}(uuid=${movie.uuid})}"
                              data-bs-toggle="modal" data-bs-target="#confirmDeleteModel">
                            <div class="modal fade" id="confirmDeleteModel" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel"
                                                th:text="#{movies_list.modal.delete_movie.title}">Delete Movie?</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-start"
                                             th:text="#{movies_list.modal.delete_movie.text}">
                                            Really delete movie... ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                                                    th:text="#{common.button.label.cancel}">Cancel
                                            </button>
                                            <button type="submit" class="btn btn-primary"
                                                    th:text="#{movies_list.modal.delete_movie.button.label.confirm}">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div th:if="${!movie.imdbId.isBlank()}">
                        <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                           target="_blank" rel="noopener noreferrer"
                           th:href="'https://www.imdb.com/title/' + ${movie.imdbId}">IMDb</a>

                        <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                           target="_blank" rel="noopener noreferrer"
                           th:href="'https://www.themoviedb.org/movie/' + ${movie.tmdbId}">TMDB</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript"
        th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>