<!--
  ~ Copyright 2024 Benjamin Dittwald
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<div th:replace="~{fragments/head :: head (title='Cinemap Repository UI - ' + #{scenes_list.meta.page.title})}"></div>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>


<div class="container">
    <div class="row mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a
                        class="link-primary link-underline-opacity-25 link-underline-opacity-100-hover" href="/"
                        th:text="#{breadcrumb.home}">Home</a></li>
                <li class="breadcrumb-item"><a
                        class="link-primary link-underline-opacity-25 link-underline-opacity-100-hover" href="/movies"
                        th:text="#{breadcrumb.movies}">Movies</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="${movie.title}">Movie Title</li>
            </ol>
        </nav>
    </div>
    <div class="row mt-5">
        <h1><span th:text="#{scenes_list.heading.all_scenes}"></span></h1>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col col-sm-2 col-md-3 align-items-start text-center">
            <div th:replace="~{fragments/scene_movie_sidebar :: scene_movie_sidebar (posterUrl=${movie.posterUrl}, title=${movie.title}, releaseYear=${movie.releaseYear}, tagline=${movie.tagline}, overview=${movie.overview})}"></div>
        </div>

        <div class="col col-sm-10 col-md-9">
            <div class="row mb-5">
                <div class="row">
                    <a class="link-primary link-underline-opacity-25 link-underline-opacity-100-hover"
                       th:href="'/movies/' + ${movie.uuid} + '/scenes/form'"><i
                            class="bi bi-plus-square-fill"></i> <span
                            th:text="#{scenes_list.link.text.add_scene}">Add Scene</span></a>
                </div>
                <hr class="mt-3"/>
            </div>
            <div class="row">
                <div class="d-flex align-items-center justify-content-center">
                    <div th:if="${scenes.isEmpty()}">
                        <p class="fw-bolder fs-4"><i class="bi bi-emoji-tear-fill"></i> <span
                                th:text="#{scenes_list.paragraph_no_scenes}"></span></p>
                    </div>
                </div>
                <div th:each="scene : ${scenes}">
                    <div class="card mb-3 shadow bg-body-tertiary">
                        <div class="row g-0">
                            <div class="col">
                                <div class="card-header">
                                    <h5 th:text="${scene.title}" class="text-truncate">Title</h5>
                                </div>
                                <div class="card-body">
                                    <span class="card-text" th:text="${scene.description}">Description</span>
                                </div>
                                <div class="card-footer">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                               th:href="'/movies/' + ${movie.uuid} + '/scenes/form?sceneUuid=' + ${scene.uuid}"><i
                                                    class="bi bi-pencil-fill"></i></a>
                                            <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                                               href="#" data-bs-target="#confirmDeleteModel" data-bs-toggle="modal"><i
                                                    class="bi bi-trash3-fill"></i></a>
                                            <form method="post" action="#"
                                                  th:action="@{/movies/{movieUuid}/scenes/{sceneUuid}(movieUuid=${movie.uuid}, sceneUuid=${scene.uuid})}"
                                                  data-bs-toggle="modal" data-bs-target="#confirmDeleteModel">
                                                <div class="modal fade" id="confirmDeleteModel" tabindex="-1"
                                                     aria-labelledby="confirmDeleteModel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h1 class="modal-title fs-5" id="exampleModalLabel"
                                                                    th:text="#{scenes_list.modal.delete_scene.title}">
                                                                    Modal Title</h1>
                                                                <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body text-start"
                                                                 th:text="#{scenes_list.modal.delete_scene.text}">
                                                                Really delete movie... ?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal"
                                                                        th:text="#{common.button.label.cancel}">Cancel
                                                                </button>
                                                                <button type="submit" class="btn btn-primary"
                                                                        th:text="#{scenes_list.modal.delete_scene.button.label.confirm}">
                                                                    Delete
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div>
                                            <span class="card-text"><small class="text-body-secondary"
                                                                           th:text="'lon ' + ${scene.lon}">lon 13.35943</small>
                                            </span>
                                            <span class="card-text"><small class="text-body-secondary"
                                                                           th:text="'lan ' + ${scene.lat}">lat 52.51263</small>
                                             </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script type="text/javascript"
        th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>